---
---

@import "{{ site.theme }}";

body {
  font-family: "Roboto", Calibri, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
}

h1, h2, h3, h4, h5, h6 {
  font-family: "Roboto", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: 400;
  -webkit-font-smoothing: antialiased;
  letter-spacing: 0px;
}

img {
  border: none;
  -webkit-box-shadow: none;
}

#project_title {
  font-weight: 400;
  font-size: 30px;
}

#project_tagline {
  font-size: 18px;
  margin: 0px;
}

#forkme_banner {
  background: #e718d2;
  padding: 5px 5px 5px 5px;
  font-weight: 400;
  font-size: 16px;
}

#project_header_logo {
  src: url("{{ site.logo }}");
  border: none;
  -webkit-box-shadow: none;
  width: 200px;
}

#header_screenshot {
  // apply a cool perspective transform that makes the screenshot look
  // as though it was viewed from an angle
  width: 300px;
  transform: perspective(1000px) rotateY(-20deg);
  margin-left: 80px;
  margin-top: 40px;
  border: 1px solid #ebebeb;
  -webkit-box-shadow: 0 0 5px #ebebeb;
};